/* Glbal variables  */
/*// root is used to declare css variable for later use */
/**/
:root {
  --body-background: #e1d6e7;
  --main-fg-color: rgb(168, 5, 209);
  --second-text-color: #8954ab;
  --main-text-color: purple;
  --placeholder-text-color: #9e00ec; /* this is only use for the palceholder text icon */
  --main-border-radius: 4px;
  --main-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  --main-sidebar-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2),
    0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12);
  --dropdown-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  --dropdown-hover-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  --modal-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2),
    0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  --fab-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  --fab-hover-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  --hover-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  --font-bold: 900;
  --font-medium: 700;
  --font-regular: 400;
  --font-light: 300;
}
/* Keyframes for animations  i use to add movement to css elements
 the syntax is === @keyframes animationname {keyframes-selector {css-styles;}}*/
@keyframes header-animation {
  0% {
    transform: translateX(-99%);
  }
  100% {
    transform: rotate(xx) translateX(0);
  }
}

@keyframes search-animation {
  0% {
    transform: translateY(-300%);
    opacity: 0.1;
  }
  100% {
    transform: rotate(xx) translateX(0);
    opacity: 1;
  }
}

@keyframes nav-animation {
  0% {
    transform: translateY(-60%);
    opacity: 0.1;
  }
  100% {
    transform: rotate(xx) translateY(0);
    opacity: 1;
  }
}

@keyframes card-animation {
  0% {
    transform: translateY(100%);
    opacity: 0.5;
  }
  100% {
    transform: rotate(xx);
    opacity: 1;
  }
}

@keyframes heart-animation {
  0% {
    transform: scale(0.3);
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rippleEffect {
  0% {
    transform: scale(1);
    opacity: 0.4;
  }
  100% {
    transform: scale(100);
    opacity: 0;
  }
}

/* End keyframes */

/* Reset html */

* {
  /* this is to add default values to all selected propierties */
  padding: 0;
  margin: 0;
}

/* End reset html */
/* Global selectors  all selectors without class or id, like the simple tag <Body> <p> etc*/
body {
  /*body tag, */
  position: relative;
  background-color: var(--body-background);
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden; /* this is to avoid the scrolling  */
}

p {
  font-size: 1rem;
}

button {
  height: 32px;
  font-size: 0.9rem;
  font-weight: var(--font-regular);
}

input:focus,
button:focus {
  outline-width: 0;
}

/* transitions =  https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Transitions/Using_CSS_transitions thats the reference  */
.hover-light {
  transition: opacity 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.hover-dark {
  transition: background-color 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.hover-icon {
  transition: opacity 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.hover-light:hover {
  opacity: 0.8;
  cursor: pointer;
}

.hover-dark:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
  cursor: pointer;
}

.hover-icon:hover {
  opacity: 0.5;
  cursor: pointer;
}

.input-wrapper {
  position: relative;
  display: flex;
}

.floating-label {
  /* old school positioning lol */
  position: absolute;
  left: 16px;
  right: auto;
  top: 18px;
  z-index: 10; /* Z-index is use to position elements with an ovrlapping effect, */
  overflow: hidden;

  transition: font-size 0.18s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.18s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.18s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.18s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.18s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.18s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.18s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
  text-overflow: ellipsis; /* text-overflow ellipsis is use to hide the text, (...) something like that, is to avoid unnessesary long strings*/
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.6);
  cursor: text;
  font-size: 0.9rem; /* using REM so it is relative to the HTML or root */
}
/* before anyone ask what is cubic-bezier === it is how to like define the speed of a transition effect from a start to end 
transform ==  allow you to rotate, scale, skew, or translate an element
translateX, TrabnslateY === allow you to move an element in 2d style and only take px or % */
.label-focused {
  transform-origin: left top;
  transform: translateY(-60%) scale(0.75);
}

.label-color-focused {
  color: var(--main-fg-color);
}

.form-input {
  width: 100%;
  height: 29px;
  padding: 20px 16px 6px;
  border-top-left-radius: var(--main-border-radius);
  border-top-right-radius: var(--main-border-radius);
  border: none;
  background-color: #f5f5f5;
  font-weight: var(--font-regular);
  /*     font-size: 1rem; */
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.42);
  transition: background 0.18s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.18s cubic-bezier(0.4, 0, 0.2, 1),
    background 0.18s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.18s cubic-bezier(0.4, 0, 0.2, 1),
    background 0.18s cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  box-shadow: 0 2px 0 0 var(--main-fg-color);
  background-color: rgba(0, 0, 0, 0.1);
}

.ripple {
  /* list */
  overflow: hidden;
  position: relative;
}

.ripple-effect {
  position: absolute;
  z-index: 100;
  width: 5px;
  height: 5px;
  animation: rippleEffect 0.88s 1;
  opacity: 0;
  pointer-events: none; /* this is use to add events to the pointer but since i set it to none it's not adding anything */
  border-radius: 50%;
}

/* End global selectors */

.nav-main-wrapper {
  height: 100px;
}

.nav-border {
  display: none;
  margin: 0;
  width: 100%;
  height: 4px;
  border: none;
  background-color: var(--main-fg-color);
  animation: header-animation 0.7s forwards 0s ease-in;
}

.nav-content-wrapper {
  display: flex;
  margin-top: 1rem;
}

.nav-content {
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.show-salute {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 50px;
  font-weight: var(--font-bold);
  color: var(--main-text-color);
  letter-spacing: 2px;
  vertical-align: middle;
  font-size: 2em;
  animation: nav-animation 0.7s forwards 0s cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
  margin: 5px 0;
}

.show-date {
  font-weight: var(--font-regular);
  color: var(--main-text-color);
  font-size: 1rem;
  animation: nav-animation 0.7s forwards 0s cubic-bezier(0.4, 0, 0.2, 1);
  align-self: center;
}

.centered-bar {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  animation: search-animation 0.7s forwards 0s cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (max-width: 609px) {
  /* responsive design  */
  .form-wrap {
    width: 85%;
  }
}

.search-form {
  width: auto;
  display: flex;
  box-shadow: var(--main-box-shadow);
  background-color: white;
  border: none;
  border-radius: var(--main-border-radius);
  transition: box-shadow 0.2s cubic-bezier(0, 0, 0.2, 1);
}
.search-form:hover {
  box-shadow: var(--hover-box-shadow);
}

.search-input {
  font-size: 0.8rem;
  padding: 5px 15px;
  width: 400px;
  height: 35px;
  border-radius: var(--main-border-radius);
  border: none;
}

.search-input::placeholder {
  opacity: 1;
  color: var(--main-text-color);
  font-weight: var(--font-regular);
}

.go-search {
  height: auto;
  padding: 0 15px;
  color: var(--main-fg-color);
  background-color: white;
  border: none;
  border-radius: var(--main-border-radius);
}

.go-search i {
  font-size: 12px;
  cursor: pointer;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  transform: translateX(-250px);
}

.sidenav-isvisible {
  box-shadow: var(--main-sidebar-shadow);
  transform: translateX(0%);
}

.closebtn {
  color: var(--main-fg-color);
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  margin-top: 15px;
  margin-right: 15px;
  cursor: pointer;
}

.form-error {
  height: 0px;
  display: flex;
  justify-content: center;
  background-color: hsl(354, 85%, 44%);
  transition: height 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.form-error-title {
  display: none;
}

.form-error-isvisible {
  height: 28px;
}

.form-error-isvisible .form-error-title {
  display: initial;
  margin: 5px 0;
  color: white;
  font-size: 0.8rem;
}

.sidebar-form {
  padding: 10px 20px;
}

#bookmark-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar-form-title {
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.input-wrapper {
  margin-bottom: 15px;
}

.submit-form {
  border: none;
  color: white;
  background-color: var(--main-fg-color);
  border-radius: var(--main-border-radius);
  padding: 0px 16px;
  margin: 15px 0;
  align-self: flex-end;
}

.form-spacer {
  flex-grow: 1;
}

.form-footer {
  width: 250px;
  margin-bottom: 60px;
}

.form-footer-title {
  font-size: 0.8rem;
  font-weight: var(--font-regular);
  color: var(--main-text-color);
  text-align: center;
  margin-bottom: 5px;
}

.my-sites {
  text-align: center;
}

.icon-site {
  color: var(--main-text-color);
  padding-left: 5px;
}

.icon-site i {
  font-size: 1.1rem;
}

.body-wrapper {
  /* it's time to use GRID  */
  margin-top: 4%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 170px);
  grid-template-rows: auto;
  grid-gap: 80px;
  justify-content: center;
  align-items: start;
  flex-grow: 1;
}

@media only screen and (max-width: 850px) {
  .body-wrapper {
    padding-top: 10%;
    margin: 0px 15px;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
  }
}

.box {
  animation: card-animation 0.7s forwards 0s cubic-bezier(0, 0, 0.2, 1);
  box-shadow: var(--main-box-shadow);
  background-color: white;
  border-radius: var(--main-border-radius);
}

.box-header {
  color: #ffffff;
  background-image: radial-gradient(
    circle 998px at -0.2% 99.3%,
    rgba(148, 144, 227, 1) 0%,
    rgba(207, 7, 7, 0) 100.2%
  );
  font-weight: var(--font-medium);
  white-space: nowrap;
  overflow: hidden;
  padding: 15px;
  border-top-left-radius: var(--main-border-radius);
  border-top-right-radius: var(--main-border-radius);
}

.box-content {
  list-style: none;
  padding: 0;
  margin: 0 0 16px 0;
  background-color: #d9c7e2;
  height: 100%;
  border-radius: var(--main-border-radius);
}

.content-link {
  display: flex;
  padding: 15px 5px;
  transition: box-shadow 0.2s cubic-bezier(0, 0, 0.2, 1);
  transition: box-shadow 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.content-link a {
  width: 100%;
  text-decoration: none;
  color: var(--second-text-color);
  font-weight: var(--font-regular);
  font-size: 0.9rem;
  padding-left: 10px;
}

.content-link i {
  display: none;
  align-self: center;
  margin-right: 5px;
  color: var(--main-text-color);
  transition: color 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.content-link:hover {
  box-shadow: var(--hover-box-shadow);
  border-radius: var(--main-border-radius);
}

.content-link:hover i {
  display: initial;
  cursor: pointer;
}

.content-link:hover i:hover {
  color: var(--placeholder-text-color);
}

.add-button {
  margin: 10px 0;
  display: flex;
  font-size: larger;
  justify-content: center;
  color: var(--main-fg-color);
  opacity: 0.2;
  cursor: pointer;
  transition: opacity 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.add-button:hover {
  opacity: 1;
}

.float-btn {
  width: 56px;
  height: 56px;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  background-color: var(--main-fg-color);
  border-radius: 50%;
  border: none;
  padding: 15px;
  box-shadow: var(--fab-shadow);
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
  cursor: pointer;
}

.float-btn i {
  color: white;
  font-size: 1rem;
  text-align: center;
}

.float-btn:hover {
  box-shadow: var(--fab-hover-shadow);
}

.float-btn:hover i {
  font-size: 1rem;
}

.modal-overlay {
  display: none;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  background-color: white;
  border-radius: var(--main-border-radius);
  max-width: 210px;
  margin: 15% auto;
  padding: 15px;
  box-shadow: var(--modal-shadow);
  animation: nav-animation 0.4s forwards 0s cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  color: var(--main-text-color);
  margin: 0;
  font-size: 1rem;
  margin-bottom: 15px;
}

.modal-content {
  margin-top: 15px;
}

.dropdown {
  position: relative;
}

.dropdown-btn {
  width: 210px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: var(--main-border-radius);
  padding: 5px 16px;
  text-align: center;
  background-color: white;
  color: var(--second-text-color);
  font-size: 0.9rem;
  font-weight: var(--font-regular);
  transition: background-color 0.3s cubic-bezier(0, 0, 0.2, 1);
  box-shadow: var(--dropdown-shadow);
}

.dropdown-content {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 1001;
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0;
  background-color: white;
  border-radius: 3px;
  font-weight: var(--font-regular);
  box-shadow: var(--dropdown-hover-shadow);
  transition: opacity 0.03s linear;
  transition: opacity 0.03s linear, transform 0.12s cubic-bezier(0, 0, 0.2, 1);
  transition: opacity 0.03s linear, transform 0.12s cubic-bezier(0, 0, 0.2, 1);
  transform: scale(0);
  transform-origin: top center;
}

.dropdown-content-opened {
  opacity: 1;
  transform: scale(1);
}

.dropdown-content li {
  height: 20px;
  padding: 16px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 1rem;
  color: var(--second-text-color);
  transition: background-color 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.dropdown-content li:last-child {
  margin-bottom: 0;
}

.modal-footer {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}

.modal-btn {
  background-color: var(--main-fg-color);
  color: white;
  border: none;
  border-radius: 3px;
  padding: 0 16px;
  cursor: pointer;
  margin-top: 5px;
}

.btn-flat {
  margin-right: 5px;
  border: var(--main-border-radius);
  background-color: white;
  color: var(--main-fg-color);
  transition: background 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.sidebar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
}

.overlay-isvisible {
  transition: opacity 0.2s cubic-bezier(0, 0, 0.2, 1);
  opacity: 1;
  pointer-events: auto;
}
